<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="RemoteOnly" defaultRedirect="ReqError.aspx"/>
    </system.web>
  <connectionStrings>
    <add name="SQL" connectionString="workstation id=Dairy-Procurement.mssql.somee.com; MultipleActiveResultSets=true; packet size=4096;user id=ManivasakamR_SQLLogin_1;pwd=8m1kslshqp;data source=Dairy-Procurement.mssql.somee.com;persist security info=False;initial catalog=Dairy-Procurement"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=Dairy-Procurement.mssql.somee.com;Persist Security Info=True;Password=8m1kslshqp;User ID=ManivasakamR_SQLLogin_1;Initial Catalog=Dairy-Procurement"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
