body {
background-color:transparent !important;
}
/*html {
   background:url("../Images/bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%;
}
.navbar {
background-color:#212121 !important;
}
.nav-link {
 border: 1px solid !important;
    border-color:#f50057 !important;
background-color:#757575 !important;
color:#eeeeee !important;
}
.navbar-brand,.text-primary {
color:#eeeeee !important;
}
.btn-primary {
    border-color:#f50057 !important;
    font-size:16px !important;
    background-color:#757575 !important;
    color:#eeeeee !important;
}
.txtbx{ 
    color:#eeeeee !important;
    border: 1px solid !important;
    border-color:#f50057 !important;    
    background-color: rgba(117,117,117,0.3) !important;
    border-radius:5px !important;
}
th {
color:#eeeeee !important;
background-color:#006064 !important;
}
table{
     width:95% !important; margin-left:5% !important; margin-right:0% !important;
}
table,th,td {
   border-spacing: 5px;
   border: 1px solid #006064;  
}
th, td {
text-align:center;
padding:2px;
min-width:70px !important;
color:#006064;
}
    */
.valStyle{
    color:#f44336 !important; font-size:20px !important; position:absolute !important;
    margin-left:3px !important;
}
.jumbotron
{
    background-color:#e0e0e0 !important;
}
/*Entire html styles*/
html{
    background:url("../Images/bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%;
  }
/*for login form styles*/
#divCenter {  
   margin: auto !important;
  margin-top:7% !important;
  max-width: 60% !important;  
  padding: 10px;  
  background-color:rgba(0,0,0,0.5) !important;
  border-color:transparent !important;
}

/* for reg form*/
#divReg {  
   margin: auto !important;
  margin-top:7% !important;
  max-width: 70% !important;  
  min-width:60% !important;
  padding: 10px;  
  background-color:rgba(0,0,0,0.5) !important;
  border-color:transparent !important;
}
/*All label styles*/
.text-primary {
color:#e0e0e0 !important;
}
/*All button styles*/
.btn-primary {
    border-color:#757575 !important;
    font-size:17px !important;
    background-color:#757575 !important;
    color:#eeeeee !important;
}
    .btn-primary:hover {
    background-color:#6200ea !important;
    }
    
/*All textbox styles*/
.txtbx{ 
    color:#616161 !important;
    border: 1px solid !important;
    border-color:#616161 !important;    
    background-color: rgba(117,117,117,0.2) !important;
    border-radius:5px !important;
}
.txtbx:hover{    
    border-color:#6200ea !important;        
}
/*Button danger btn*/
.btn-danger{
    background-color:#6200ea !important;
    border-color:transparent !important;
}
   /*Table styles*/
#cltaltdiv {
  margin: auto;
  max-width: 60% !important;  
  padding: 10px;  
  background-color:rgba(0,0,0,0.5) !important;
  border-color:transparent !important;
}
table{
    width:90% !important; 
    margin-left:5% !important; margin-right:0% !important;
}
table,th,td {
   border-spacing: 5px;
   border: 1px solid #616161;  
}
th, td {
text-align:center;
padding:3px;
min-width:70px !important;
}
th {
    background-color:rgba(97,97,97,0.5) !important;
    color:#e0e0e0 !important;
}
tr {
    background-color:rgba(97,97,97,0.5) !important;
    color:#f5f5f5 !important;
}

/*Notification gen*/
#DivGnNot {       
  margin: auto !important;
  margin-top:2% !important;
  max-width: 60% !important;  
  padding: 10px;  
  background-color:rgba(0,0,0,0.5) !important;
  border-color:transparent !important;
}
#CompDiv,#notDiv{
  margin: auto !important;
  margin-top:2% !important;
  max-width: 60% !important;  
  padding: 10px;  
  background-color:rgba(0,0,0,0.5) !important;
  border-color:transparent !important;
}

